.loader-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  /*
  background-color: #222;
  
  background-image: URL("../../assets/img/hexa-bg-left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;*/
}

.loader {
  position: relative;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-color: #222;
  box-shadow: inset 0 0 5px #444;
}

#loader-top {
  /*
  overflow: visible;
  border-right: 1px solid black;
  background-image: URL("../../assets/img/bg-transp-top-small.png");
  background-position: bottom;*/
  border-bottom: 1px solid black;
}

.loader-animation-top {
  -webkit-animation: slide-top 2.5s linear 1;
  -moz-animation: slide-top 2.5s linear 1;
  animation: slide-top 2.5s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

#loader-top div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle-ext {
  width: 676px;
  height: 676px;
  border-radius: 50%;
  position: absolute;
  left: calc(50vw - 338px);
  right: calc(50vw - 338px);
  bottom: -338px;
  z-index: 30;
  background-color: rgb(37, 37, 37);
  box-shadow: 1px 0px 8px rgb(0 0 0) inset, -1px 0px 8px rgb(0 0 0) inset,
    0px 1px 8px rgb(0 0 0) inset, 0px -1px 8px rgb(0 0 0) inset,
    1px 0px 8px rgb(0 0 0), -1px 0px 8px rgb(0 0 0), 0px 1px 8px rgb(0 0 0),
    0px -1px 8px rgb(0 0 0);
}

#circle-int {
  width: 626px;
  height: 626px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgb(0 0 0 / 15%) inset;
  /*padding: 10px;*/
  background-color: #045cfe;
  background-image: URL("../../assets/img/hud_transp.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 0px 8px rgb(0 0 0) inset, -1px 0px 8px rgb(0 0 0) inset,
    0px 1px 8px rgb(0 0 0) inset, 0px -1px 8px rgb(0 0 0) inset;
}

.fa-power-off {
  filter: drop-shadow(0 0 1px rgba(209, 198, 198, 0.5));
  color: black;
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
  z-index: 30;
}

@-moz-keyframes pulse {
  0% {
    color: black;
  }

  50% {
    color: rgb(0, 223, 223);
  }

  100% {
    color: black;
  }
}

@-webkit-keyframes pulse {
  0% {
    color: black;
  }

  50% {
    color: rgb(0, 223, 223);
  }

  100% {
    color: black;
  }
}

@keyframes pulse {
  0% {
    color: black;
  }

  50% {
    color: rgb(0, 223, 223);
  }

  100% {
    color: black;
  }
}

#circle-int .fa-power-off:hover {
  color: rgba(0, 148, 148, 0.74);
}

/*
#circle-int div {
  border: 1px solid rgba(127, 255, 255, 0.25);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  background-image: URL("../../assets/img/hud_int.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/

#loader-bottom {
  /*
  background-image: URL("../../assets/img/bg-transp-bottom-small.png");
  background-position: top;*/
  border-top: 1px solid black;
  /*
  display: flex;
  justify-content: center;
  align-items: center;*/
}

.element {
  /*
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;*/
  /*transform: translate(-50%, -50%) matrix3d(-0.927312, 0, 0.374289, 0, 0, -1, 0, 0, -0.374289, 0, -0.927312, 0, -336.86, -142, -834.581, 1);*/

  width: 400px;
  height: 400px;
  position: absolute;
  left: calc(50vw - 200px);
  top: calc(50vh - 200px);
  border-radius: 50%;
  /*transform: skewX(45deg);*/
}

.symbol {
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

/*
.loader-circle-active {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-circle-active {
  border: 7px double #ff5722;
  -webkit-animation: ball-turn 1s linear infinite;
  animation: ball-turn 1s linear infinite;
}

.loader-circle-active:before,
.loader-circle-active:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ff5722;
  border-radius: 50%;
  bottom: 0;
  right: 37px;
}

.loader-circle-active:after {
  left: 37px;
  top: 0;
}

.loader-circle-active img {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 65px);
}

@-webkit-keyframes ball-turn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ball-turn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/

.loader-circle-active,
.loader-circle-inactive {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px #444;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader-circle-inactive:hover {
  /* cursor: pointer;*/
}

.loader-circle-inactive:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
}

.loader-circle-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(rgb(0, 223, 223), black 60%);
  animation: spin 0.8s infinite linear;
}

.loader-animation-bottom-more .loader-circle-active:before {
  background: #01fa32;
}

.loader-circle-active:after,
.loader-circle-inactive:after {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  top: 2.5%;
  left: 2.5%;
  background-color: #222;
  border-radius: 50%;
  box-shadow: inset 0 0 5px #444;
}

.greyPrint-cont {
  z-index: 30;
  position: fixed;
  left: calc(50vw - 50px);
  bottom: calc(50vh - 100px);
  overflow: hidden;
  height: 200px;
  /*
  -webkit-animation: reduce 4s linear 1;
  -moz-animation: reduce 4s linear 1;
  animation: reduce 4s linear 1;
  animation-fill-mode: forwards;*/
}

.loader-circle-active .greyPrint-cont img {
  z-index: 40;
  filter: grayscale(1);
  margin: 30px 0;
}

.bluePrint-cont {
  z-index: 50;
  position: fixed;
  left: calc(50vw - 50px);
  top: calc(50vh - 100px);
  overflow: hidden;
  height: 0;
  -webkit-animation: grow 4s linear 1;
  -moz-animation: grow 4s linear 1;
  animation: grow 4s linear 1;
  animation-fill-mode: forwards;
  /*background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0) 19%, #222 20%, #222 79%, rgba(34, 34, 34, 0) 80%);*/
}

#mask {
  z-index: 45;
  position: fixed;
  left: calc(50vw - 50px);
  top: calc(50vh - 75px);
  overflow: hidden;
  height: 0;
  -webkit-animation: grow-mask 3s linear 1;
  -moz-animation: grow-mask 3s linear 1;
  animation: grow-mask 3s linear 1;
  animation-fill-mode: forwards;
  /*background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0) 19%, #222 20%, #222 79%, rgba(34, 34, 34, 0) 80%);*/
  animation-delay: 0.5s;
  background-color: #222;
  width: 100px;
}

.loader-circle-active .bluePrint-cont img {
  z-index: 60;
  margin-top: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  to {
    height: 200px;
  }
}

@keyframes grow-mask {
  to {
    height: 150px;
  }
}

@keyframes reduce {
  to {
    height: 0px;
    margin-bottom: 200px;
  }
}

.loader-circle-active #laser {
  position: absolute;
  -webkit-animation: scan 3.3s linear 1;
  -moz-animation: scan 3.3s linear 1;
  animation: scan 3.3s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

/*
#laser-mask {
  height: 150px;
  width: 110px;*/
/*border-radius: 50%;*/
/*
  overflow: hidden;
  z-index: 85;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}*/

@keyframes scan {
  0% {
    width: 0px;
    height: 2px;
    background-color: rgb(0 255 255 / 56%);
    border-radius: 1px;
    z-index: 80;
    /*width: 110px;*/
    bottom: 200px;
    top: 25px;
    margin-top: -15px;
  }

  10% {
    width: 110px;
    box-shadow: 0px 1px 15px 1px rgb(0, 173, 173),
      0px -1px 15px 1px rgb(0, 173, 173);
    height: 2px;
    background-color: rgb(0 255 255 / 56%);
    border-radius: 1px;
    z-index: 80;
  }

  90% {
    width: 110px;
    box-shadow: 0px 1px 15px 1px rgb(0, 173, 173),
      0px -1px 15px 1px rgb(0, 173, 173);
    height: 2px;
    background-color: rgb(0 255 255 / 56%);
    border-radius: 1px;
    z-index: 80;
  }

  100% {
    top: 180px;
    bottom: 25px;
    width: 0px;
  }
}

#screen-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90px;
  padding: 6px;
  background-color: black;
  box-shadow: 0 0 5px #444;
  margin-top: 180px;
}

#screen {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 0px;
  height: 100%;
  border: 1px solid black;
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  /*cursor: default;*/
  flex-wrap: wrap;
  position: relative;
  -webkit-animation: appear 0.5s linear 1;
  -moz-animation: appear 0.5s linear 1;
  animation: appear 0.5s linear 1;
  animation-fill-mode: forwards;
  /*animation-delay: 1s;*/
  background-color: black;
}

.cubic {
  width: 0;
  height: 0;
  -webkit-animation: be-cube 0.5s linear 1;
  -moz-animation: be-cube 0.5s linear 1;
  animation: be-cube 0.5s linear 1;
  animation-fill-mode: forwards;
  position: absolute;
  animation-delay: 1s;
  border: none;
  border-color: black;
}

@keyframes be-cube {
  to {
    width: 15px;
    height: 15px;
  }
}

@keyframes appear {
  to {
    background-color: rgba(0, 127, 127, 0.74);
    box-shadow: 0px 0px 12px rgb(0 255 255 / 50%);
    border: 1px solid rgba(127, 255, 255, 0.25);
    width: 100%;
  }
}

@keyframes text-appear {
  to {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgb(0 255 255 / 95%);
  }
}

.top-left {
  border-top: 1px solid rgba(127, 255, 255, 1);
  border-left: 1px solid rgba(127, 255, 255, 1);
  top: 0;
  left: 0;
}

.top-right {
  border-top: 1px solid rgba(127, 255, 255, 1);
  border-right: 1px solid rgba(127, 255, 255, 1);
  top: 0;
  right: 0;
}

.bottom-right {
  border-bottom: 1px solid rgba(127, 255, 255, 1);
  border-right: 1px solid rgba(127, 255, 255, 1);
  margin-left: 50%;
  bottom: 0;
  right: 0;
}

.bottom-left {
  border-bottom: 1px solid rgba(127, 255, 255, 1);
  border-left: 1px solid rgba(127, 255, 255, 1);
  margin-right: 50%;
  bottom: 0;
  left: 0;
}

#text-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-text {
  font-size: 30px;
  color: transparent;
  -webkit-animation: text-appear 0.3s linear 1;
  -moz-animation: text-appear 0.3s linear 1;
  animation: text-appear 0.3s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes slide-top {
  to {
    margin-bottom: 100vh;
  }
}

@keyframes slide-bottom {
  to {
    margin-top: 100vh;
    margin-bottom: -100vh;
    top: 100vh;
    bottom: -100vh;
  }
}

@keyframes slide-bottom-more {
  to {
    margin-top: calc(100vh + 100px);
    /*margin-bottom: calc(-100vh + 100px);*/
    top: calc(100vh + 100px);
    /*bottom: calc(-100vh + 100px);*/
  }
}

@keyframes slide-bottom-more2 {
  to {
    margin-top: calc(100vh + 50px);
    /* margin-bottom: calc(-100vh + 50px);*/
    top: calc(100vh + 50px);
    /*bottom: calc(-100vh + 50px);*/
  }
}
/*
@keyframes slide-bottom-less {
  to {
    margin-top: 100vh;
    margin-bottom: 100vh;
    top: 100vh;
    bottom: 100vh;
  }
}*/

.hidden {
  display: none !important;
}

.hidden-animation {
  -webkit-animation: hiden 1s linear 1 !important;
  -moz-animation: hiden 1s linear 1 !important;
  animation: hiden 1s linear 1 !important;
  animation-delay: 1s !important;
  animation-fill-mode: forwards !important;
}

.loader-animation-bottom {
  -webkit-animation: slide-bottom 5s linear 1;
  -moz-animation: slide-bottom 5s linear 1;
  animation: slide-bottom 5s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
/*
.loader-animation-bottom-less {
  -webkit-animation: slide-bottom-less 5s linear 1;
  -moz-animation: slide-bottom-less 5s linear 1;
  animation: slide-bottom-less 5s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}*/

.loader-circle-active .loader-animation-bottom {
  height: 200px;
  -webkit-animation: slide-bottom-more 5s linear 1;
  -moz-animation: slide-bottom-more 5s linear 1;
  animation: slide-bottom-more 5s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.loader-animation-bottom-more {
  height: 200px;
  -webkit-animation: slide-bottom-more2 5s linear 1;
  -moz-animation: slide-bottom-more2 5s linear 1;
  animation: slide-bottom-more2 5s linear 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes hiden {
  to {
    opacity: 0;
    display: none !important;
  }
}
