.sceneContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

video {
  position: absolute;
  left: 50%;
  /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%);
  /* % of current element */
}

#frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}